<header class="header" itemscope itemtype="http://schema.org/SiteNavigationElement" aria-label="Main navigation">
  <div class="container">
    <div class="header__inner">
      <a class="header__logo" href="{{ '/' | relative_url }}">
        <div class="header__logo--container">
          <img src="{{site.baseurl}}/assets/img/triglav2.png" height="100%"> 
        </div>
      </a>
      <nav class="header__links">
        <div class="container header__links-wrapper">
	{% if page.lang == "en" %}
          <a class="header__link" href="{{ '/' | relative_url }}" itemprop="url"><span itemprop="name">Home</span></a>
          <a class="header__link" href="{{ '/about' | relative_url }}" itemprop="url"><span itemprop="name">About</span></a>
          <a class="header__link" href="{{ '/credits' | relative_url }}" itemprop="url"><span itemprop="name">Credits</span></a>
          <a class="header__link" href="{{ '/' | relative_url }}" itemprop=="url"><span itemprop="name">Slovenščina</span></a>
    {% else %}
    <a class="header__link" href="{{ '/' | relative_url }}" itemprop="url"><span itemprop="name">Domov</span></a>
          <a class="header__link" href="{{ '/oprojektu' | relative_url }}" itemprop="url"><span itemprop="name">O projektu</span></a>
          <a class="header__link" href="{{ '/zahvale' | relative_url }}" itemprop="url"><span itemprop="name">Zahvale</span></a>
          <a class="header__link" href="{{ '/en' | relative_url }}" itemprop=="url"><span itemprop="name">English</span></a>
	{% endif %}        
	</div>
      </nav>
      <div class="header__toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>
