---
layout: compress
---
<html lang="{{ page.lang | default: site.lang | default: "si" }}">

{% include head.html %}

  <body class="site">

    {% include lang_nav.html %}
    {% include hero.html %}


    <main class="site__content">
      <section class="blog">
        <div class="container">
          <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">
            {% if page.lang == "en" %}
              {% for post in site.categories.post-en %}
                {% include card.html %}
              {% endfor %}
            {% else %}
              {% for post in site.categories.post-si %}
                {% include card.html %}
              {% endfor %}
            {% endif %}
            <!-- {% include pagination.html %} -->
          </div>
        </div>
      </section>
    </main>

    {% include footer.html %}

  </body>

</html>
