---
layout: compress
---
<html lang="{{ page.lang | default: site.lang | default: "si" }}">

{% include head.html %}

  <body class="site">

    {% include lang_nav.html %}

    <div class="hero lazyload" data-bg="{{site.url}}/assets/img/posts/{{page.foto}}">        
      <div class="hero__wrap">
        <h1 class="hero__title">{{ page.title }}</h1>
      </div>
    </div>  

    <main class="site__content">
      <div class="container">
        <div class="page-content">
            {{ content }}
        </div>
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
